.p {
  color: rgb(249, 5, 5);
}
input[type="submit"] {
  background: #393b3b;
  color: white;
  text-transform: uppercase;
  border: none;
  height: 40px;
  margin-top: 25px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10%;
}
input[type="submit"]:hover {
  background: #1f1f20;
}
input[type="submit"]:active {
  background: #393b3b;
}
.input {
  display: block;
  box-sizing: border-box;
  width: 90%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 10px;
  font-size: 14px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  gap: 40px 40px;
}

.hotelCard {
  background-color: rgb(226, 223, 223);
  width: 24rem;
}
.hotelCard:hover {
  background-color: rgb(217, 217, 217);
  height: 120%;
  width: 26rem;
}
.hotelCard:active {
  background-color: white;
}
.roomsNav {
  display: flex;
  align-items: baseline;
}
.roomsNav h1 {
  flex-grow: 1;
}
